
{% extends 'base.html.twig' %}
{% block body %}

<div>
{{ form_row(form.imageFile) }}    

{{ form_row(form.title) }}
{{ form_row(form.price) }}
{{ form_row(form.rooms) }}
{{ form_row(form.floors) }}
{{ form_row(form.city) }}
{{ form_row(form.sold) }}


{{ form_row(form.adress) }}
</div>
<button type="submit" class="btn btn-primary">Contacter</button>

</div>
</div>
{% endblock %}